/*contacto*/

#contacto {
	background: url(../image/large.jpg) no-repeat;
	background-size: cover;
	color: #000000;
	font-weight: bold;
	height: auto;
}

.fondo-contacto {
	background-color: #FFFFFF;
	border-top: 5px solid #0271BE;
}

.pad-7{
	padding: 8% 20%;
}

.pad-5 {
	padding-right: 3%;
}
.color-rojo {
	color: #FF0000;
}

.linea-apoyo {
	width: 390px;
    height: 0.5px;
    margin: 3% auto;
    background-color: #454545;
}

.btn-enviar {
  	border-radius: 5px;
 	background: #2578B9;
 	color: #ffffff;
 	font-size: 24px;
 	padding: 2px 30px 2px 30px;
  	border: solid #ffffff 2px;
  	text-decoration: none;
}

.btn-prueba:hover {
	background: #034175;
 	color: #ffffff;
 	text-decoration: none;
}